@media screen and (min-width: 781px) {

    .custom-navbar {
      position: fixed;
      margin-top: -50px;
    }
    
    #info,
    #proName {
      font-size: 2.5em;
      font-weight: 800;
      line-height: 1.2em;
      color: white;
    }
    #proName {
      color: #ffbd39;
    }
    
    #prof {
      font-size: 1.2em;
      letter-spacing: 0.1em;
      color: rgba(255, 255, 255, 0.733);
    }
    .profileImg {
      width: 14em;
    }
    
    .btnCustom {
      width: 16em;
      height: 4em;
      margin-left: 0.3em;
      margin-top: 3.8em;
      text-align: center;
      font-size: 0.6em;
      font-weight: 600;
    }
}    