@font-face {
  font-family: 'Blanka';
  src: url('../src/fonts/Blanka-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Blanka&display=swap");


body {
  background-color: black;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  background-image: linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.9)
      ),
      url(../public/Images/about1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.logo {
  font-family: "Blanka", sans-serif;
  
}
