@font-face {
  font-family: 'Blanka';
  src: url('../src/fonts/Blanka-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
}

.logo {
  font-family: "Blanka", sans-serif;
}
